<h1 class="title">CUEB POS</h1>
<div class="container centered">
  <div>
    <%= link_to "SALES", new_sale_path, class: "btn btn-info btn-lg" %>
  </div>
  <div>
    <%= link_to "INVENTORY", inventories_path, class: "btn btn-info btn-lg" %>
  </div>
  <div>
    <%= link_to "REPORTS", reports_path, class: "btn btn-info btn-lg" %>
  </div>
  <div>
    <%= link_to "SETTINGS", settings_path, class: "btn btn-info btn-lg" %>
  </div>
</div>
