<h1 class="title">CUEB POS</h1>
<div class="container centered">
  <div class="row">
    <div class="col-2">
      <%= link_to "SALES", "#", class: "btn btn-info btn-lg" %>
    </div>
    <div class="col-2">
      <%= link_to "INVENTORY", "#", class: "btn btn-info btn-lg" %>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <%= link_to "REPORTS", "#", class: "btn btn-info btn-lg" %>
    </div>
    <div class="col-2">
      <%= link_to "SETTINGS", "#", class: "btn btn-info btn-lg" %>
    </div>
  </div>
</div>
