<h1 class="title">CUEB POS</h1>
<div class="container centered">
  <div>
    <%= link_to "BRANDS", "#", class: "btn btn-info btn-lg" %>
  </div>
  <div>
    <%= link_to "EMPLOYEES", employees_path, class: "btn btn-info btn-lg" %>
  </div>
  <div>
    <%= link_to "RESET DATA", "#", class: "btn btn-info btn-lg" %>
  </div>
</div>
