// Place all the styles related to the employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.emp {
  margin-top: 4rem;
}

.emp-name {
  display: inline-block;
  margin-right: 4rem;
}

.emp-delete {
  display: inline-block;
  margin-left: 3rem;
}

.add {
  margin-top: 6rem;
}
