// Place all the styles related to the Sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
  text-decoration: underline;
  margin-bottom: 6rem;
}

.red {
  color: red;
  font-weight: bold;
}
