// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
  text-align: center;
}

.centered {
  text-align: center;
}

.btn-lg {
  margin: 5rem;
  height: 80px;
  width: 150px;
}
