<h1 class="title">Reports</h1>
<div class="container centered">
  <div>
    <%= link_to "SALES", reports_sales_path, class: "btn btn-info btn-lg" %>
  </div>
  <div>
    <%= link_to "ITEMS SOLD", reports_sold_path, class: "btn btn-info btn-lg" %>
  </div>
</div>
